@charset "UTF-8";
.my_templates span:hover {
  font-weight: 800;
  color: var(--violet_P);
  position: relative;
  width: 100%;
}

.my_templates span {
  cursor: pointer;
}

.menu_pop {
  display: none;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "â¯";
  color: #bbb;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  transition: all 0.3s ease;
  transform: rotate(90deg);
}

.nested {
  display: none;
}

.activeTree {
  display: block;
}

.nameAdd {
  height: 28px !important;
}

#result span {
  position: absolute;
  right: 0;
}

.treeMenu {
  position: relative;
  width: 100%;
  font-size: 14px;
  color: #000000;
}
.treeMenu:focus {
  outline: none;
}
.treeMenu li:nth-of-type(1) {
  color: var(--violet_P);
  font-size: 16px;
}
.treeMenu li {
  margin-left: inherit !important;
  list-style: none !important;
  color: #000000;
  font-size: 15px;
  position: relative;
  margin-top: 10px;
}
.treeMenu li input {
  display: inline-block;
  max-width: 84px;
}
.treeMenu li p {
  position: relative;
  margin-top: 10px;
}
.treeMenu li p .treeMoreBtn {
  cursor: pointer;
}
.treeMenu li p .treeMoreBtn .pop_sm_wrap {
  opacity: 0;
  position: absolute;
  z-index: 11;
  right: -10px;
  display: flex;
  word-break: break-all;
  flex-direction: column;
  width: 60px;
  gap: 4px;
  top: 20px;
  padding: 4px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ddd;
  display: none;
  text-align: center;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
}
.treeMenu li p .treeMoreBtn .pop_sm_wrap > span {
  display: inline-block;
  padding: 4px;
  width: 100%;
}
.treeMenu li p .treeMoreBtn .pop_sm_wrap > span:hover {
  transition: 0.3s ease;
  background-color: var(--violet_bg);
}
.treeMenu li p .treeMoreBtn .pop_sm_wrap.on {
  transition: opacity 0.3s ease;
  opacity: 1;
  display: block;
}
.treeMenu li ul {
  padding-left: 14px;
}
.treeMenu li ul li:nth-of-type(1) {
  color: #000;
  font-size: 15px;
}
.treeMenu li ul li .treeMoreBtn {
  cursor: pointer;
}
.treeMenu li ul li .treeMoreBtn .pop_sm_wrap {
  opacity: 0;
  position: absolute;
  z-index: 11;
  right: -10px;
  display: flex;
  word-break: break-all;
  flex-direction: column;
  width: 60px;
  gap: 4px;
  top: 20px;
  padding: 4px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #ddd;
  display: none;
  text-align: center;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
}
.treeMenu li ul li .treeMoreBtn .pop_sm_wrap > span {
  display: inline-block;
  padding: 4px;
  width: 100%;
}
.treeMenu li ul li .treeMoreBtn .pop_sm_wrap > span:hover {
  transition: 0.3s ease;
  background-color: var(--violet_bg);
}
.treeMenu li ul li .treeMoreBtn .pop_sm_wrap.on {
  transition: opacity 0.3s ease;
  opacity: 1;
  display: block;
}
.treeMenu .treeMoreBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
}

.moreview {
  display: none;
}

.moreview.toggle {
  display: block;
}

.menu_pop {
  position: absolute;
  z-index: 500;
  top: 20px;
  right: -10px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.menu_pop p {
  padding: 4px;
}
.menu_pop p span {
  padding: 2px 14px;
}
.menu_pop p span:hover {
  background-color: var(--violet_bg);
  border-radius: 3px;
}