@charset "UTF-8";
.modal_wrap {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal_wrap .modal_contain {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(to top, var(--violet_P) 52px, white 5%) !important;
  display: flex;
}
@media (max-width: 480px) {
  .modal_wrap .modal_contain {
    width: 90%;
  }
}
.modal_wrap .modal_contain .modal_inner {
  width: 450px;
}
.modal_wrap .modal_contain .modal_inner .popheading {
  padding: 2rem 2rem 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.modal_wrap .modal_contain .modal_inner .popheading .closeX {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.modal_wrap .modal_contain .modal_inner .popheading h1 {
  font-weight: 700;
  font-size: 18px;
}
.modal_wrap .modal_contain .modal_inner .popheading h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.modal_wrap .modal_contain .modal_inner > section {
  padding: 2rem;
  text-align: center;
}
.modal_wrap .modal_contain .modal_inner > section > img {
  margin-bottom: 1rem;
}
.modal_wrap .modal_contain .modal_inner > section > h2 {
  margin-bottom: 1rem;
  font-size: 14px;
}
.modal_wrap .modal_contain .modal_inner > section > input:not(:last-child) {
  margin-bottom: 14px;
}
.modal_wrap .modal_contain .modal_inner .confirm_btn {
  text-align: center;
  padding: inherit;
  display: flex;
  justify-content: space-around;
}
.modal_wrap .modal_contain .modal_inner .confirm_btn a {
  display: block;
  color: var(--white);
  padding: 1rem;
  width: 100%;
  background-color: var(--violet_P);
}
.modal_wrap .modal_contain .modal_inner .confirm_btn a:not(:first-child) {
  background-color: var(--violet_PL);
}

.stop_area {
  padding: 2rem;
}
.stop_area .caution_coment ul li {
  padding: 0.5rem;
  color: var(--red);
  list-style-type: "※";
  line-height: 1.5;
  margin-left: 10px;
}
.stop_area .caution_coment ul li::marker {
  content: "※";
  display: inline-block;
}
.stop_area > h2 {
  margin-bottom: 10px;
  color: var(--violet_P);
  font-size: 22px;
  font-weight: 600;
}
.stop_area .step_contain {
  text-align: left;
  background-color: var(--second_01);
  border-radius: 5px;
}
.stop_area .step_contain .step_1 {
  display: inline-block;
  margin: 1rem;
  padding: 0 20px;
}
.stop_area .step_contain .step_1 li {
  list-style: disc;
  line-height: 1.4;
}
.stop_area .step_contain .step_1 li:not(:last-child) {
  padding-bottom: 1rem;
}
.stop_area .check_wrap {
  text-align: left;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.stop_area .check_wrap .check_p .dont_msg {
  cursor: pointer;
}
.stop_area .check_wrap .check_p .dont_msg .check_box_wrap {
  margin-top: 10px;
  display: flex;
  font-size: 16px;
  align-items: center;
}
.stop_area .check_wrap .check_p .dont_msg .check_box_wrap img {
  margin-right: 8px;
  height: 18px;
}
.stop_area .pop_email {
  line-height: 1.8;
}
.stop_area .pop_email > span {
  color: var(--violet_P);
}
.stop_area p {
  margin-bottom: 1rem;
  color: var(--violet_K);
}

.radio_wrap {
  border: 1px solid tan;
}
.radio_wrap > li {
  display: flex;
  align-items: center;
}
.radio_wrap > li:not(:last-child) {
  margin-bottom: 14px;
}

.radio_container {
  border: 1px solid var(--second_03);
  padding: 1rem;
  border-radius: 5px;
}

.radio {
  display: flex;
  align-items: center;
}
.radio:not(:last-child) {
  margin-bottom: 12px;
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
  content: "";
  background: #fff;
  border-radius: 100%;
  border: 1px solid #bfbfbf;
  display: inline-block;
  width: 14px;
  height: 14px;
  position: relative;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background-color: var(--violet_P);
  box-shadow: inset 0 0 0 3px #fff;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: var(--violet_P);
  outline: 4px solid #e9e9e9;
}
.radio input[type=radio]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #fff;
  border-color: #bfbfbf;
  background: #bfbfbf;
}
.radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}

.panel,
.panel2 {
  opacity: 0;
  z-index: -1;
}

.panel.togglepop {
  transition: opacity 0.3s ease;
  opacity: 1;
  z-index: 9999;
}